# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

# iOS / macOS
ios/Pods/
ios/.symlinks/
macos/Pods/

# IDE
.idea/
.vscode/
*.iml
